{#
/**
 * @file
 * Display of footer
 *
 * Available variables:
 * - text: The available texts
 */
#}
<header role="banner">
  <header class="header">
    <div class="header--inner">
      <a class="header--large-box" href="/villagrunde" title="{{ 'Villa plots'|trans }}">
        <div class="header--box-content is-villa">
          <div class="header--box-text is-villa">
            <h1 class="header--box-text-title">{{ text.villa_header }}</h1>
            <p class="header--box-text-caption">{{ text.villa_text }}</p>
            <div class="arrow-link">{% include '@grundsalg/../icons/link-arrow.svg' %}</div>
          </div>
        </div>
      </a>
      <div class="header--small-boxes">
        <div class="header--small-box is-storparcel">
          <a class="header--box-content is-storparcel" href="/storparceller" title="{{ 'Parcel'|trans }}">
            <div class="header--box-text is-storparcel">
              <h2 class="header--box-text-title">{{ text.parcel_header }}</h2>
              <p class="header--box-text-caption">{{ text.parcel_text }}</p>
              <div class="arrow-link">{% include '@grundsalg/../icons/link-arrow.svg' %}</div>
            </div>
          </a>
        </div>
        <div class="header--small-box is-erhverv">
          <a class="header--box-content is-erhverv" href="/erhvervsgrunde" title="{{ 'Industry'|trans }}">
            <div class="header--box-text is-erhverv">
              <h2 class="header--box-text-title">{{ text.industry_header }}</h2>
              <p class="header--box-text-caption">{{ text.industry_text }}</p>
              <div class="arrow-link">{% include '@grundsalg/../icons/link-arrow.svg' %}</div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </header>
</header>
