{#
/**
 * @file
 * Default theme implementation to display a single page.
 *
 * Variables
 *   See @page--node.html.twig
 */
#}

<div class="tabs">
  {% if map %}
    <a href="#/map" class="tabs--tab {{ classes }}" ng-class="{'is-active': activetab=='/map'}">
      <div class="tabs--tab-icon">
        <svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <circle id="a" cx="25" cy="25" r="25"></circle>
            <mask id="b" x="0" y="0" width="50" height="50" fill="#fff">
              <use xlink:href="#a"></use>
            </mask>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <use  class="icon-item-stroke" stroke="#1A1918" mask="url(#b)" stroke-width="4" xlink:href="#a"></use>
            <path class="icon-item-stroke icon-item-fill" d="M24.5 34.516C27.103 31.31 31 25.82 31 21.67 31 17.99 28.085 15 24.5 15S18 17.992 18 21.67c0 4.15 3.9 9.643 6.5 12.846zm0-17.292c2.39 0 4.333 1.994 4.333 4.445 0 2.784-2.64 6.992-4.333 9.312-1.693-2.318-4.333-6.523-4.333-9.313 0-2.452 1.944-4.446 4.333-4.446z" fill="#1A1918"></path>
            <ellipse class="icon-item-stroke icon-item-fill" fill="#1A1918" cx="24.5" cy="21.669" rx="2.167" ry="2.222"></ellipse>
          </g>
        </svg>
      </div>
      <div class="tabs--tab-title">{{ 'Map'|trans }}</div>
    </a>
  {% endif %}
  {% if images %}
    <a href="#/images" class="tabs--tab {{ classes }}" ng-class="{'is-active': activetab=='/images'}">
      <div class="tabs--tab-icon">
        <svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>
            camera
          </title>
          <defs>
            <circle id="a" cx="25" cy="25" r="25"></circle>
            <mask id="b" x="0" y="0" width="50" height="50" fill="#fff">
              <use xlink:href="#a"></use>
            </mask>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <use class="icon-item-stroke" stroke="#1A1918" mask="url(#b)" stroke-width="4" xlink:href="#a"></use>
            <path class="icon-item-stroke icon-item-fill" d="M25.5 21.335c-2.872 0-5.208 2.337-5.208 5.21 0 2.87 2.336 5.207 5.208 5.207 2.872 0 5.208-2.336 5.208-5.208 0-2.872-2.336-5.21-5.208-5.21zm0 8.334c-1.723 0-3.125-1.403-3.125-3.126 0-1.723 1.402-3.125 3.125-3.125s3.125 1.4 3.125 3.124c0 1.723-1.402 3.125-3.125 3.125z" fill="#000"></path>
            <path class="icon-item-stroke icon-item-fill" d="M33.833 19.252h-3.61l-1.464-2.196c-.388-.582-1.036-.93-1.734-.93h-3.052c-.698 0-1.346.348-1.733.93l-1.464 2.196h-3.61c-1.148 0-2.083.934-2.083 2.083v11.46c0 1.148.935 2.082 2.084 2.082h16.666c1.15 0 2.084-.934 2.084-2.083v-11.46c0-1.148-.935-2.082-2.084-2.082zM17.167 32.794v-11.46h4.724l2.084-3.124h3.052l2.083 3.125h4.723v11.46H17.168z" fill="#000"></path>
          </g>
        </svg>
      </div>
      <div class="tabs--tab-title">{{ 'Images'|trans }}</div>
    </a>
  {% endif %}
  {% if video %}
    <a href="#/video" class="tabs--tab {{ classes }}" ng-class="{'is-active': activetab=='/video'}">
      <div class="tabs--tab-icon">
        <svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title>
            video
          </title>
          <defs>
            <circle id="a" cx="25" cy="25" r="25"/>
            <mask id="b" x="0" y="0" width="50" height="50" fill="#fff">
              <use xlink:href="#a"/>
            </mask>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <use class="icon-item-stroke" stroke="#1A1918" mask="url(#b)" stroke-width="4" xlink:href="#a"/>
            <path class="icon-item-stroke icon-item-fill" d="M18.208 16.395v18.21l15.61-9.105-15.61-9.105zm2.084 3.627l9.39 5.478-9.39 5.478V20.022z" fill="#1A1918"/>
          </g>
        </svg>
      </div>
      <div class="tabs--tab-title">{{ 'Video'|trans }}</div>
    </a>
  {% endif %}
  {% if coordinates %}
    <a href="#/streetview" class="tabs--tab {{ classes }}" ng-class="{'is-active': activetab=='/streetview'}">
      <div class="tabs--tab-icon">
        <svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <defs>
            <circle id="a" cx="25" cy="25" r="25"></circle>
            <mask id="b" x="0" y="0" width="50" height="50" fill="#fff">
              <use xlink:href="#a"></use>
            </mask>
          </defs>
          <g fill="none" fill-rule="evenodd">
            <use class="icon-item-stroke" stroke="#1A1918" mask="url(#b)" stroke-width="4" xlink:href="#a"></use>
            <path class="icon-item-stroke icon-item-fill" d="M24.2 34c-.362 0-.692-.217-.83-.554l-6.3-15.21c-.14-.334-.064-.72.194-.974.257-.256.643-.332.98-.195l15.3 6.263c.358.148.582.508.554.893-.028.386-.302.71-.68.804l-6.675 1.66-1.67 6.636c-.093.374-.42.647-.806.674L24.2 34zm-4.646-14.46l4.436 10.71 1.137-4.52c.08-.32.333-.57.655-.65l4.546-1.13-10.774-4.41z" fill="#000"></path>
          </g>
        </svg>
      </div>
      <div class="tabs--tab-title">{{ 'Streetview'|trans }}</div>
    </a>
  {% endif %}
</div>